
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-flex">
<div class="row" style="margin-top: 30px; text-align: center;">
  <div class="col-lg-3">
    <div class="bg-light border-right" id="sidebar-wrapper">
      
      <a routerLink="/NewFeed" class="list-group-item btn list-group-item" >News Feed</a>
      <a routerLink="/BlockUser" class="list-group-item btn list-group-item ">Blocked Accounts</a>
      <a routerLink="/AccountDetails" class="list-group-item btn list-group-item ">Account update</a>
      <a routerLink="/Search" class="list-group-item btn list-group-item ">Search</a>
      <a routerLink="/NewFeed" class="list-group-item btn list-group-item ">Logout</a>

    </div>
  </div>

  <div class="col-9" >
    <form >
    <div style="width: 50vw; text-align: center;">
      <input class="form-control" type="text" placeholder="Search"
             aria-label="Search"/> 
            </div>              
      <button class="btn" > <i class="fa fa-search" aria-hidden="true">Search</i></button>
    </form>
  </div>
</div>
</div>