<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FootballBootServlet</servlet-name>
  	<display-name>FootballBootServlet</display-name>
  	<description></description>
  	<servlet-class>com.boot.servlet.FootballBootServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBootServlet</servlet-name>
  	<display-name>AddBootServlet</display-name>
  	<description></description>
  	<servlet-class>com.boot.servlet.AddBootServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadBoots</servlet-name>
  	<display-name>LoadBoots</display-name>
  	<description></description>
  	<servlet-class>com.boot.servlet.LoadBoots</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateController</servlet-name>
  	<display-name>UpdateController</display-name>
  	<description></description>
  	<servlet-class>com.boot.servlet.UpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProcessor</servlet-name>
  	<display-name>UpdateProcessor</display-name>
  	<description></description>
  	<servlet-class>com.boot.servlet.UpdateProcessor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProcessor</servlet-name>
  	<display-name>DeleteProcessor</display-name>
  	<description></description>
  	<servlet-class>com.boot.servlet.DeleteProcessor</servlet-class>
  </servlet>

  	
  <servlet-mapping>
  	<servlet-name>FootballBootServlet</servlet-name>
  	<url-pattern>/submitsize.view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBootServlet</servlet-name>
  	<url-pattern>/submitdetail.do</url-pattern>
  	
  </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>LoadBoots</servlet-name>
 	<url-pattern>/loaddetail.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>UpdateController</servlet-name>
 	<url-pattern>/UpdateData.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>UpdateProcessor</servlet-name>
 	<url-pattern>/update.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>DeleteProcessor</servlet-name>
 	<url-pattern>/delete.do</url-pattern>
 </servlet-mapping>
 
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>